{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <a href="{{ path('app_home_other') }}">Link to other page</a>
</div>
{% endblock %}
